/* App.css */

/* Global styles */
body, html, #root, .App {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  

  
  /* SideNavBar styles */

  
  /* Main content styles */
  .main-content {
    margin-left: 200px; /* Adjust based on the width of the SideNavBar */
    margin-top: 30px; /* Adjust based on the height of the NavBar */
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 60px); /* Adjust based on the height of the NavBar */
    box-sizing: border-box;
  }
  