.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .container h2 {
    color: #022e58;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  
  }
 
  .member-search-and-add .sections{
    display: flex;
    justify-content: space-between;
  }
  .sections .form{
    flex: 1;
  }
  .sections .form h2 ,.search h2{
    color: #0074E1;
    font-size: 16px;
    text-align: left;
  }
.sections .search {
  flex: 1;

}
.sections .search .search-result{
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 75%;
}
.sections .search .search-result p{
  color: #555;
  font-size: 12px;
}
.sections .search button{
  margin-left: 10px;
}

  
  input[type="text"] {
    width: calc(100% - 120px);
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input:focus {
    outline: 1px solid #0074E1; 
  }
 .container .member-search-and-add button {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container .member-search-and-add button:hover {
    background-color: #2980b9;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    color: #555;
    font-size: 14px;
    border-bottom: 1px solid  rgb(216, 213, 213);
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  td button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  td button:hover {
    background-color: #c0392b;
  }
  
 
  .search-result p {
    margin: 0;
    padding: 2px 0;
  }
  